<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.example.uiservice.gameserver"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="GameServer demo" android:debuggable="true">
        <service android:name=".ServiceInvokerMessenger">
            <intent-filter>
                <action android:name="bratseth.maja.androidtest.msgtransport.ServiceInvokerMessenger"/>
            </intent-filter>
        </service>
    </application>
</manifest>
